# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/reports-client/dist
/reports-client/tmp
/reports-client/out-tsc
# Only exists if Bazel was run
/reports-client/bazel-out

# dependencies
/server/node_modules
/reports-client/node_modules

# profiling files
/reports-client/chrome-profiler-events*.json
/reports-client/speed-measure-plugin*.json

# IDEs and editors
/reports-client/.idea
/reports-client/.project
/reports-client/.classpath
/reports-client/.c9/
/reports-client/*.launch
/reports-client/.settings/
/reports-client/*.sublime-workspace

# IDE - VSCode
/reports-client/.vscode/*
/reports-client/!.vscode/settings.json
/reports-client/!.vscode/tasks.json
/reports-client/!.vscode/launch.json
/reports-client/!.vscode/extensions.json
/reports-client/.history/*

# misc
/reports-client/.sass-cache
/reports-client/connect.lock
/reports-client/coverage
/reports-client/libpeerconnection.log
/reports-clientnpm-debug.log
/reports-clientyarn-error.log
/reports-clienttestem.log
/reports-client/typings

# System Files
.DS_Store
Thumbs.db
